.b1,
.b1038,
.b1040,
.b1041,
.b1042,
.b1043,
.b1044,
.b1045,
.b1046,
.b1047,
.b1048,
.b1049,
.b1050,
.b1051,
.b1052,
.b1053,
.b1054,
.b1082,
.b1083,
.b1084,
.b1085,
.b1091,
.b1092,
.b1093,
.b1094,
.b1095,
.b1104,
.b1076,
.b11,
.b16,
.b18,
.b19,
.b2,
.b20,
.b25,
.b26,
.b27,
.b3,
.b30,
.b31,
.b33,
.b34,
.b36,
.b37,
.b38,
.b39,
.b40,
.b41,
.b42,
.b43,
.b44,
.b45,
.b46,
.b47,
.b48,
.b49,
.b50,
.b51,
.b52,
.b53,
.b54,
.b57,
.b58,
.b59,
.b6,
.b60,
.b61,
.b62,
.b63,
.b72,
.b64,
.b1098,
.b65,
.b67,
.b68,
.b69,
.b70,
.b1013,
.b71,
.b73,
.b74,
.b75,
.b76,
.b77,
.b78,
.b79,
.b8,
.b80,
.b81,
.b9,
.bCarCross,
.bKredit24 {
  background: url("./sprite-bank-logo.svg") no-repeat;
}
.b1 {
  background-position: 0 0;
}
.b1 {
  width: 158px;
  height: 43.54px;
}
.b1038,
.b1040,
.b1041,
.b1042,
.b1043,
.b1044,
.b1045,
.b1046,
.b1047,
.b1048,
.b1049,
.b1050,
.b1051,
.b1052,
.b1053,
.b1054,
.b1082,
.b1083,
.b1084,
.b1085,
.b1091,
.b1092,
.b1093,
.b1094,
.b1095,
.b1104 {
  background-position: 0 1.9923385526566022%;
}
.b1038,
.b1040,
.b1041,
.b1042,
.b1043,
.b1044,
.b1045,
.b1046,
.b1047,
.b1048,
.b1049,
.b1050,
.b1051,
.b1052,
.b1053,
.b1054,
.b1082,
.b1083,
.b1084,
.b1085,
.b1091,
.b1092,
.b1093,
.b1094,
.b1095,
.b1104 {
  width: 158px;
  height: 43.54px;
}
.b1076 {
  background-position: 0 3.9846771053132044%;
}
.b1076 {
  width: 158px;
  height: 43.54px;
}
.b11 {
  background-position: 0 5.977015657969807%;
}
.b11 {
  width: 158px;
  height: 43.54px;
}
.b16 {
  background-position: 0 7.969354210626409%;
}
.b16 {
  width: 158px;
  height: 43.54px;
}
.b18 {
  background-position: 0 9.961692763283011%;
}
.b18 {
  width: 158px;
  height: 43.54px;
}
.b19 {
  background-position: 0 11.954031315939615%;
}
.b19 {
  width: 158px;
  height: 43.54px;
}
.b2 {
  background-position: 0 13.946369868596216%;
}
.b2 {
  width: 158px;
  height: 43.54px;
}
.b20 {
  background-position: 0 15.938708421252818%;
}
.b20 {
  width: 158px;
  height: 43.54px;
}
.b25 {
  background-position: 0 17.93104697390942%;
}
.b25 {
  width: 158px;
  height: 43.54px;
}
.b26 {
  background-position: 0 19.923385526566022%;
}
.b26 {
  width: 158px;
  height: 43.54px;
}
.b27 {
  background-position: 0 21.915724079222624%;
}
.b27 {
  width: 158px;
  height: 43.54px;
}
.b3 {
  background-position: 0 23.90806263187923%;
}
.b3 {
  width: 158px;
  height: 43.54px;
}
.b30 {
  background-position: 0 25.90040118453583%;
}
.b30 {
  width: 158px;
  height: 43.54px;
}
.b31 {
  background-position: 0 27.892739737192432%;
}
.b31 {
  width: 158px;
  height: 43.54px;
}
.b33 {
  background-position: 0 29.885078289849034%;
}
.b33 {
  width: 158px;
  height: 43.54px;
}
.b34 {
  background-position: 0 31.877416842505635%;
}
.b34 {
  width: 158px;
  height: 43.54px;
}
.b36 {
  background-position: 0 33.86975539516224%;
}
.b36 {
  width: 158px;
  height: 43.54px;
}
.b37 {
  background-position: 0 35.86209394781884%;
}
.b37 {
  width: 158px;
  height: 43.54px;
}
.b38 {
  background-position: 0 37.85443250047545%;
}
.b38 {
  width: 158px;
  height: 43.54px;
}
.b39,
.b40,
.b41,
.b42,
.b43,
.b44,
.b45,
.b46,
.b47,
.b48,
.b49,
.b50,
.b51,
.b52,
.b53 {
  background-position: 0 39.846771053132045%;
}
.b39,
.b40,
.b41,
.b42,
.b43,
.b44,
.b45,
.b46,
.b47,
.b48,
.b49,
.b50,
.b51,
.b52,
.b53 {
  width: 158px;
  height: 43.54px;
}
.b54 {
  background-position: 0 41.83910960578865%;
}
.b54 {
  width: 158px;
  height: 43.54px;
}
.b57 {
  background-position: 0 43.83144815844525%;
}
.b57 {
  width: 158px;
  height: 43.54px;
}
.b58 {
  background-position: 0 45.82378671110185%;
}
.b58 {
  width: 158px;
  height: 43.54px;
}
.b59 {
  background-position: 0 47.78626506896427%;
}
.b59 {
  width: 158px;
  height: 42.16px;
}
.b6 {
  background-position: 0 49.86886168310811%;
}
.b6 {
  width: 158px;
  height: 48.22px;
}
.b60 {
  background-position: 0 51.68796318808475%;
}
.b60 {
  width: 158px;
  height: 30.98px;
}
.b61 {
  background-position: 0 53.385617126866684%;
}
.b61 {
  width: 158px;
  height: 43.54px;
}
.b62,
.b63,
.b72 {
  background-position: 0 55.37795567952329%;
}
.b62,
.b63,
.b72 {
  width: 158px;
  height: 43.54px;
}
.b63 {
  background-position: 0 57.37029423217989%;
}
.b63 {
  width: 158px;
  height: 43.54px;
}
.b64,
.b1098 {
  background-position: 0 59.36263278483649%;
}
.b64,
.b1098 {
  width: 158px;
  height: 43.54px;
}
.b65 {
  background-position: 0 61.35497133749309%;
}
.b65 {
  width: 158px;
  height: 43.54px;
}
.b67 {
  background-position: 0 63.347309890149695%;
}
.b67 {
  width: 158px;
  height: 43.54px;
}
.b68 {
  background-position: 0 65.3396484428063%;
}
.b68 {
  width: 158px;
  height: 43.54px;
}
.b69 {
  background-position: 0 67.3319869954629%;
}
.b69 {
  width: 158px;
  height: 43.54px;
}
.b70,
.b1013 {
  background-position: 0 69.3243255481195%;
}
.b70,
.b1013 {
  width: 158px;
  height: 43.54px;
}
.b71 {
  background-position: 0 71.31666410077611%;
}
.b71 {
  width: 158px;
  height: 43.54px;
}
.b72 {
  background-position: 0 73.30900265343271%;
}
.b72 {
  width: 158px;
  height: 43.54px;
}
.b73 {
  background-position: 0 75.3013412060893%;
}
.b73 {
  width: 158px;
  height: 43.54px;
}
.b74 {
  background-position: 0 77.62019307284112%;
}
.b74 {
  width: 158px;
  height: 52.83px;
}
.b75 {
  background-position: 0 79.56168743106161%;
}
.b75 {
  width: 158px;
  height: 39.88px;
}
.b76 {
  background-position: 0 81.6778444309323%;
}
.b76 {
  width: 158px;
  height: 48.22px;
}
.b77 {
  background-position: 0 83.90129686266323%;
}
.b77 {
  width: 158px;
  height: 48.22px;
}
.b78 {
  background-position: 0 86.12474929439416%;
}
.b78 {
  width: 158px;
  height: 48.22px;
}
.b79 {
  background-position: 0 88.16098095505465%;
}
.b79 {
  width: 158px;
  height: 43.54px;
}
.b8 {
  background-position: 0 90.15331950771126%;
}
.b8 {
  width: 158px;
  height: 43.54px;
}
.b80 {
  background-position: 0 92.14565806036785%;
}
.b80 {
  width: 158px;
  height: 43.54px;
}
.b81 {
  background-position: 0 94.02900018995757%;
}
.b81 {
  width: 158px;
  height: 40.98px;
}
.b9 {
  background-position: 0 96.19835010754248%;
}
.b9 {
  width: 158px;
  height: 48.22px;
}

.b1,
.b1038,
.b1040,
.b1041,
.b1042,
.b1043,
.b1044,
.b1045,
.b1046,
.b1047,
.b1048,
.b1049,
.b1050,
.b1051,
.b1052,
.b1053,
.b1054,
.b1082,
.b1083,
.b1084,
.b1085,
.b1091,
.b1092,
.b1093,
.b1094,
.b1095,
.b1104,
.b1076,
.b11,
.b16,
.b18,
.b19,
.b2,
.b20,
.b25,
.b26,
.b27,
.b3,
.b30,
.b31,
.b33,
.b34,
.b36,
.b37,
.b38,
.b39,
.b40,
.b41,
.b42,
.b43,
.b44,
.b45,
.b46,
.b47,
.b48,
.b49,
.b50,
.b51,
.b52,
.b53,
.b54,
.b57,
.b58,
.b59,
.b6,
.b60,
.b61,
.b62,
.b63,
.b72,
.b64,
.b1098,
.b65,
.b67,
.b68,
.b69,
.b70,
.b1013,
.b71,
.b73,
.b74,
.b75,
.b76,
.b77,
.b78,
.b79,
.b8,
.b80,
.b81,
.b9,
.bCarCross,
.bKredit24 {
  background-size: cover !important;
}
